
 .grid-color{ 
  background:rgb(218, 78, 218);  
  top:5px;
}
.banner-text{
  background-color: black;
  opacity: .8;
  width: 100%;
  margin: auto;
  border-radius: 10px;
}
.imagee
{ 
  height: auto;
  width: 50%;
  image-resolution: 100%;
}

body{
  background:radial-gradient(#e5e5e5 ,#ffff,#e5e5e5) ;
}
.card{
  width:20rem;
}
.card:hover{
  box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.253);

}
.card-body{
  padding:3rem 0;
}
.card-text{
  font-size:.9rem;
  padding :0.4rem 1.9rem;
}
.container-fluid .row{
  padding-top: 6rem;
}

#font{
  font-style:italic;
   color:whitesmoke ;
}

h1{
  font-family: 'Courier New', Courier, monospace;
  font-style: oblique;
  color: whitesmoke;
}