.header{
background-color:whitesmoke;
height:250px;
padding: 70px;
text-align:center;
font-weight:bold;
font-size: 30px;
line-height: 10px;
}
.center{ 
    display: flex;
    justify-content: center;
    padding: 15px;
}
.text{
    text-align: center;
    margin-top: 25px;
}

@media screen and (max-width:600px) {
  .header {
    width: 100%;
    height: auto;
  }
  .center {
    width: 100%;
  }
  .text {
    width: 100%;
  }
}

.violet{
  color:violet;
}
.pink{
  color:#E75480 ;
}
.brown{
  color: #654321;
}

.indentCorrection {
  margin-left: 0px;
}