.container{
    flex-direction: column;
    margin: 10px;
  }
  .cardalign {
    height: 500px;
    width: 100%;
    color: gray;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    font-display: center;
  }
  .a {
    text-decoration: none;
    color: black;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    margin:10px;
    width : 100%;
    border-radius: 8px;
     text-decoration: none;
     background-color: gray;
  }
  
  .card:hover {
    box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.253) !important;
    text-decoration: none;
  }
  
  .card-title {
  font-display: center;
  text-decoration: none;
  font-size: 10px;
  }
  .welcome-title {
    font-display: center;
    text-align: center;
    text-decoration: darkgrey;
    font-size: 20px;
  }
  .profile-align{
    width: 100%;
      height: 150px;
    padding:15px;
    border-radius: 50%;
  }
  
  @media(min-width:320px){
    .profile-align{
      width: 100%;
      height: 130px;
    }
    .card-title{
      font-size: 8px;
      font-display: center;
      text-decoration: none;
    }
    .welcome-title {
      font-display: center;
      text-decoration: darkgrey;
      font-size: 6px;
      text-align: center;
    }
  }
  @media(min-width:360px){
    .profile-align{
      width: 100%;
      height: 160px;
    }
    .welcome-title {
      font-display: center;
      text-decoration: darkgrey;
      font-size: 7px;
      text-align: center;
    }
    .card-title{
      font-size: 8px;
      font-display: center;
      text-decoration: none;
    }
  }
  
  @media(min-width:400px){
    .profile-align{
      height: 180px;
      width: 100%;
    }
    .welcome-title {
      font-display: center;
      text-decoration: darkgrey;
      font-size: 8px;
      text-align: center;
    }
    .card-title{
      font-size: 9px;
      font-display: center;
      text-decoration: none;
    }
  }
  @media(min-width:450px){
    .profile-align{
      height: 200px;
      width: 100%;
    }
    .welcome-title {
      font-display: center;
      text-decoration: darkgrey;
      font-size: 9px;
      text-align: center;
    }
    .card-title{
      font-size: 13px;
      font-display: center;
      text-decoration: none;
    }
  }
  @media(min-width:500px){
    .profile-align{
      height: 220px;
      width: 100%;
      padding: 5px;
      
    }
    .card-title{
      font-size: 12px;
      font-display: center;
      text-decoration: none;
    }
    .welcome-title {
      font-display: center;
      text-decoration:darkgrey;
      font-size: 10px;
      text-align: center;
    }
  }
  @media(min-width:575px){
    .profile-align{
      height: 180px;
      width: 100%;
      padding: 5px;
    }
    .card-title{
      font-size: 13px;
      font-display: center;
      text-decoration: none;
    }
    .welcome-title {
      font-display: center;
      text-decoration: darkgrey;
      font-size: 12px;
      text-align: center;
    }
  }
  @media(min-width:700px){
    .profile-align{
      height: 200px;
      width: 100%;
      padding: 5px;
    }
    .card-title{
      font-size: 12px;
      font-display: center;
      text-decoration: none;
    }
    .welcome-title {
      font-display: center;
      text-decoration: darkgrey;
      font-size: 12px;
      text-align: center;
    }
  }
  @media(min-width:767px){
    .profile-align{
      height: 110px;
      width: 100%;
    }
    .card-title{
      font-size: 4px;
      font-display: center;
      text-decoration: none;
    }
    .welcome-title {
      font-display: center;
      text-decoration: darkgrey;
      font-size: 16px;
      text-align: center;
    }
  }
  @media(min-width:775px){
    .profile-align{
      height: 110px;
      width: 100%;
    }
    .card-title{
      font-size: 5px;
      font-display: center;
      text-decoration: none;
    }
  }
  @media(min-width:900px){
    .profile-align{
      height: 150px;
      width: 100%;
    }
    .card-title{
      font-size: 7px;
      font-display: center;
      text-decoration: none;
    }
  }
  @media(min-width:1024px){
    .profile-align{
      height: 140px;
      width: 100%;
    }
    .card-title{
      font-size: 10px;
      font-display: center;
      text-decoration: none;
    }
    .welcome-title {
      font-display: center;
      text-decoration:darkgrey;
      font-size: 23px;
      text-align: center;
    }
  }
  @media(min-width:1200px){
    .profile-align{
      height: 190px;
      width: 100%;
    }
   
    .card-title{
      font-size: 12px;
      font-display: center;
      text-decoration: none;
    }
  }
  @media(min-width:1440px){
    .profile-align{
      height: 190px;
      width: 100%;
    }
    .card-title{
      font-size: 15px;
      font-display: center;
      text-decoration: none;
    }
    .welcome-title {
      font-display: center;
      text-decoration: darkgrey;
      font-size: 30px;
      text-align: center;
    }
  }
  @media(min-width:1500px){
    .profile-align{
      height: 210px;
      width: 100%;
    }
    .card-title{
      font-size: 18px;
      font-display: center;
      text-decoration: none;
    }
    .welcome-title {
      font-display: center;
      text-decoration: darkgrey;
      font-size: 32px;
      text-align: center;
    }
  }
  @media(min-width:1600px){
    .profile-align{
      height: 230px;
      width: 100%;
    }
    .card-title{
      font-size: 20px;
      font-display: center;
      text-decoration: none;
    }
    .welcome-title {
      font-display: center;
      text-decoration:darkgrey;
      font-size: 35px;
      text-align: center;
    }
  }
  
 