.container{
    flex-direction: column;
    margin: 10px;
  }
  
  .a {
    text-decoration: none;
    color: black;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    margin:10px;
    border-radius: 8px;
     text-decoration: none;
  }
  
  .card:hover {
    box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.253) !important;
    text-decoration: none;
  }
  
  .card-title {
  font-display: center;
  text-decoration: none;
  font-size: 10px;
  }
  
  .profile-align{
    width: 100%;
      height: 150px;
    padding:15px;
    border-radius: 50%;
  }
  
  @media(min-width:320px){
    .profile-align{
      width: 100%;
      height: 150px;
    }
  }
  
  @media(min-width:425px){
    .profile-align{
      height: 150px;
      width: 100%;
    }
  }
  
  
  @media(min-width:575px){
    .profile-align{
      height: 170px;
      width: 100%;
      padding: 5px;
    }
  }
  
  @media(min-width:768px){
    .profile-align{
      height: 100px;
      width: 100%;
    }
    .card-title{
      font-size: 5px;
      font-display: center;
      text-decoration: none;
    }
  }
  @media(min-width:775px){
    .profile-align{
      height: 90px;
      width: 100%;
    }
    .card-title{
      font-size: 5px;
      font-display: center;
      text-decoration: none;
    }
  }
  @media(min-width:900px){
    .profile-align{
      height: 110px;
      width: 100%;
    }
    .card-title{
      font-size: 7px;
      font-display: center;
      text-decoration: none;
    }
  }
  @media(min-width:992px){
    .profile-align{
      height: 130px;
      width: 100%;
    }
    .card-title{
      font-size: 9px;
      font-display: center;
      text-decoration: none;
    }
  }
  @media(min-width:1200px){
    .profile-align{
      height: 150px;
      width: 100%;
    }
    .card-title{
      font-size: 9px;
      font-display: center;
      text-decoration: none;
    }
  }
  @media(min-width:1440px){
    .profile-align{
      height: 150px;
      width: 100%;
    }
    .card-title{
      font-size: 12px;
      font-display: center;
      text-decoration: none;
    }
  }
  
 