/* .TopNavbar {
  /* background-color: rgb(218, 78, 218); 
} */

.TopNavbarBrand {
  color: white;
}

.NavbarItem {
  color: white;
}

.cardPadding {
  padding-bottom: 15px;
}

.card{
  width: 20rem;
}

.card:hover{
  box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253) !important
}

.card-Body{
  padding: 3rem 0 !important;
}

.card-protext{
  font-size: 0.9rem;
  padding: 0.4rem 1.9rem;
}

.containers-fluid .row{
  padding-top: 4rem;
  padding-left: 3rem;
}

/* .search-label{
justify-content: center;
align-items: center;
margin-bottom: 20px;
margin-top: 30px;
} */

.header{
  color: black;
  background: rgb(221, 215, 215);
  margin: 8px;
  font-family: "Times New Roman", Times, serif;
  font-size: 12px;
  padding:1px;
}

.img-align{
  padding:6px;
}

.footer{
  color: black;
  background: rgb(221, 215, 215);
  margin: 8px;
  font-family: "Times New Roman", Times, serif;
  font-size: 12px;
  padding:1px;
}


::placeholder {
  font-size: 11px;
  font-family: "Times New Roman", Times, serif;
}


@media(min-width:320px){
  .img-align{
    width: 100%;
  }

  .search-card{
    height: 350px;
  }

  ::placeholder {
  font-size: 11px;
  font-family: "Times New Roman", Times, serif;
}
  .card-img-top{
    width: 100%;
    height: auto;
  }

  .card-protext{
    width: 100%;
    height: auto;
  }

  .project-Title{
    width: 100%;
    height: auto;
  }
 
}



@media(min-width:576px){
  .img-align{
    height: 300px;
    width: 100%;
  }

  .search-card{
    height: 260px;
  }

  ::placeholder {
      font-size: 15px;
      font-family: "Times New Roman", Times, serif;
    }

    .card-img-top{
      width: 100%;
      height: auto;
    }

    .card-protext{
      width: 100%;
      height: auto;
    }

    .project-Title{
      width: 100%;
      height: auto;
    }

}

@media(min-width:768px){
  .img-align{
    height: 130px;
    width: 100%;
  }

  .search-card{
    height: 270px;
    width: 100%;
  }

  ::placeholder {
      font-size: 16px;
      font-family: "Times New Roman", Times, serif;
    }

    .card-img-top{
      width: 100%;
      height: auto;
    }

    .card-protext{
      width: 100%;
      height: auto;
    }
    .project-Title{
      width: 100%;
      height: auto;
    }

}

@media(min-width:992px){
  .img-align{
    height: 150px;
    width: 100%;
  }

  .card-img-top{
    width: 100%;
    height: auto;
  }

  .card-protext{
    width: 100%;
    height: auto;
  }

  .project-Title{
    width: 100%;
    height: auto;
  }

}

.addIndent {
  margin-bottom: 15px;
}

.removeIndent {
  margin-bottom: -15px;
}

.correctMargin {
  left: -10px;
}