.container{
    padding:20px;
  }

  .popup{
    border-color: white;
  }

  .preview{
    padding-left: 30px;
  }

  .button{
    background-color: violet;
  }
  


  .row-align{
    justify-content: center;
  }

  ::placeholder {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
  }

  .popup-content {
    background-color: black;
  }